################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.opendb
*.suo
*.exe
*.ilk
/KTracer/KTracer/Debug
/KTracer/KTracer/Release
/KTracer/KTracer/untitled.ppm
/KTracer/KTracer/Log.txt
*.iobj
/KTracer/Release
/KTracer/KTracer.opensdf
/KTracer/KTracer.sdf
/KTracer/KTracer/x64
/KTracer/KTracer/KTracer.vcxproj.user
/KTracer/KTracer/image.png
/KTracer/x64/Debug
/KTracer/x64/Release/KTracer.pdb
/KTracer/x64/Release/KTracer.ipdb
